

.signIn{
    background-image: url("https://images.unsplash.com/photo-1611162617213-7d7a39e9b1d7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80");
    background-color: #00FFFF  ;
    background-size: cover;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginForm{
    background-color: white;
    padding: 30px;
    border: 1px solid rgb(129, 121, 121);
    border-radius: 1px;
} 

.loginForm2{
    background-color: white;
    padding: 20px;
    margin-top: 5px;
    border: 1px solid rgb(129, 121, 121);
    border-radius: 1px;
}

#login-btn{
    background-color: black;
    border: none;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
   
    cursor: pointer;
    margin-top: 8px;
}